/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 img{
  width: auto;
  height: 200px;
  margin-top: auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-left: au;
}

.page-background {
  background-color: #ffffff;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.footer {
  background-color: #f2f2f2;
  padding: 10px;
}

.custom-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
}